/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*--------------------*/

/*
    font-family: 'Kaushan Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    background: url("../img/picture_4.jpg") center no-repeat;
    height: 100vh;
}

/*----header----*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.container {
}
.header__row {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    /* text-transform: uppercase; */
    color: #ffffff;
}
.header__list {
}
.header__list a {
    display: inline-block;
    margin: 0 55px 0 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    position: relative;
}
.header__list a:hover {
    color: #fce38a;
}
.header__list a:after {
    content: "";

    width: 100%;
    border: 1px solid #fce38a;
    position: absolute;
    top: 25px;
    left: 0;
}
.header__list a :hover:after {
}
